<footer>
    <!--hr-->
    <div class="container text-start">
        <div class="row">
          <div class="col-1">
            <!-- yandex metrics or liveinternet counter -->
          </div>
          <div class="col-9">
            <p>
                <small>Справедливая оценка акций {% include "includes/bank_name.txt" %} 
                  в любое время в нашем <span class="badge bg-secondary">ТЕЛЕГРАМ</span> боте
                </small>
            </p>
          </div>
          <div class="col-2">
            <p>
                <span class="badge rounded-pill text-bg-light">DISCLAIMER</span> pr
            </p>
          </div>
        </div>
      </div>
</footer>